<ion-content class="bg" [fullscreen]="true">
  <div id="container">
    <div class="imagen">
      <img src="assets/img/Assistance Logo.png" class="imagen" alt="Assistance Logo">
    </div>

    <ion-card class="card">
      <!-- Titulo del formulario Agregar Tutor -->
      <h2 class="ion-text-center" style="color: white; font-weight: bolder;">Agregar Tutor</h2>
      <!-- Formulario de registro -->

      <form [formGroup]="registerForm" (ngSubmit)="registrar()">
        <!-- Campo Nombre -->
        <ion-input formControlName="nombre" class="ion-margin-top input" labelPlacement="floating" label="Nombre"
          type="text" placeholder="Nombre" fill="outline">
        </ion-input>
        <div *ngIf="nombre.invalid && nombre.touched" class="error-message">
          {{ getErrorMessage('nombre') }}
        </div>

        <!-- Campo Correo -->
        <ion-input formControlName="correo" class="ion-margin-top input" labelPlacement="floating" label="Correo"
          type="email" placeholder="Correo" fill="outline">
        </ion-input>
        <div *ngIf="correo.invalid && correo.touched" class="error-message">
          {{ getErrorMessage('correo') }}
        </div>

        <!-- Campo Contraseña -->
        <ion-input formControlName="contrasena" class="ion-margin-top input" labelPlacement="floating"
          label="Contraseña" type="password" placeholder="Contraseña" fill="outline">
        </ion-input>
        <div *ngIf="contrasena.invalid && contrasena.touched" class="error-message">
          {{ getErrorMessage('contrasena') }}
        </div>

        <!-- Botón Registrar -->
        <ion-button expand="full" class="ion-margin-top btnLogin" type="submit" [disabled]="registerForm.invalid">
          Registrar
        </ion-button>
      </form>

      <!-- Botón Regresar -->
      <ion-button expand="full" class="ion-margin-top btnLogin" (click)="regresar()">
        Regresar
      </ion-button>

      <!-- Mensaje de error general -->
      <div *ngIf="errorMensaje" class="error-message">
        {{ errorMensaje }}
      </div>
    </ion-card>
  </div>
</ion-content>