<ion-content class="bg" [fullscreen]="true">
  <div id="container">
    <div class="imagen">
      <img src="assets/img/Assistance Logo.png" class="imagen" alt="">
    </div>
    <ion-card class="card">
      <ion-input #usuarioInput errorText="Este campo es obligatorio" class="ion-margin-top input"
        labelPlacement="floating" label="Usuario" type="text" placeholder="user" fill="outline" required>
      </ion-input>
      <ion-input #passwordInput errorText="Este campo es obligatorio" class="ion-margin-top input"
        labelPlacement="floating" label="Contraseña" type="password" placeholder="password" fill="outline" required>
      </ion-input>
      <ion-button expand="full" type="submit" class="ion-margin-top" class="btnLogin" (click)="iniciarSesion()">Enviar</ion-button>
      
        <ion-button expand="full" type="submit" class="ion-margin-top" class="btnLogin" (click)="regresar()">Regresar</ion-button>
      
    </ion-card>
    
  </div>
</ion-content>
